<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="list-reset flex">
      <li class="mr-6">
        <a class="text-blue hover:text-blue-darker" href="/">Home</a>
      </li>
      <li class="mr-6">
        <a class="text-blue hover:text-blue-darker" href="/about/">About</a>
      </li>
      <form class="form-inline my-2 my-lg-0 pull-right" method="GET" name="searchForm" id="searchForm">
        <input class="form-control mr-sm-2" id="search" name="q" maxlength="200" autocomplete="off" type="search" placeholder="Search" aria-label="Search">
        <ul class="searchresults"></ul>
      </form>
    </ul>
  </div>
</nav>
